<div class="wrapper">
  <h1 class="wrapper__title">本日の日報登録</h1>
  <% if session[:user_id].to_i == @user.id %>
    <% @post.errors.full_messages.each do |message| %>
      <div class="error"><%= message %></div>
    <% end %>
    <%= form_tag("/users/#{session[:user_id]}") do %>
      <textarea class="textarea" name="content"><%= @post.content %></textarea>
      <div class="direction_end">
        <input class="button" type="submit" value="投稿">
      </div>
    <% end %>
  <% end %>
  <section class="posts_index">
    <ul>
      <% @user.posts_order_desc.each do |post| %>
        <li class="list__item">
          <div class="posts_index__created_at">
              (<%= l post.created_at %>)
          </div>
          <div>
            <%= raw(linebreak_to_br(post.content)) %>
          </div>
          <% if session[:user_id].to_i == @user.id %>
            <div class="spacer"></div>
            <div class="direction_end">
              <%= link_to "編集", "/posts/#{post.id}/edit", {class: "button_small"} %>
              <%= link_to "削除", "/posts/#{post.id}", {method: "delete", class: "button_small"} %>
            </div>
          <% end %>
        </li>
        <div class="line"></div>
      <% end %>
    </ul>
  </section>
</div>